<br><br><br>
<div class="heading">
    <h1>Your Cart</h1>
</div>
<section class="cart">

    <div class="your-cart">
        <div class="cart-items" style="margin-left: 100px;">
            <div class="items">
                <div>
                    <img src="/images/zoom-mercurial-vapor-15-academy-mg-multi-ground-football-boots-tC05BT.png" class="pro-img" alt="">
                </div>
                <div>
                    <p class="price" style="font-weight: 500;">Rs. 4500</p>
                    <p class="title">Adidas Predator</p>
                    <p class="description">Adidas-Predator-Freak.3-LL-TF-Football-Shoes</p><br>
                    <button class="btn">Remove</button>
                </div>
            </div>
            <div class="items">
                <div>
                    <img src="/images/mercurial-vapor-15-club-low-top-football-shoes-KrwVSC.jpeg" class="pro-img" alt="">
                </div>
                <div>
                    <p class="price" style="font-weight: 500;">Rs. 4500</p>
                    <p class="title">Adidas Predator</p>
                    <p class="description">Adidas-Predator-Freak.3-LL-TF-Football-Shoes</p><br>
                    <button class="btn">Remove</button>
                </div>
            </div>
        </div>
        <div class="cart-price">
            <div class="labels">
                <p>Price (_ items)</p>
                <p>Discount</p>
                <p>Delivery</p>
                <p class="total">Total</p>
            </div>
            <div class="values">
                <p>Rs. 11,000</p>
                <p>3,000</p>
                <p>Free</p>
                <p class="total">Rs. 9,000</p>
            </div>
        </div>
    </div>

</section>