<section class="landingPage">

    <h1>Find your perfect pair!</h1>

</section>

<div class="heading">
    <h1>Feature products</h1>
</div>
<section class="feature-product">
    <div class="product-list">

        <div class="product">
            <img src="/images/Adidas-Predator-Freak.3-LL-TF-Football-Shoes.jpg" class="pro-img" alt="">
            <p class="price">Rs. 4500</p>
            <p class="title">Adidas Predator</p>
            <p class="description">Adidas-Predator-Freak.3-LL-TF-Football-Shoes</p>
        </div>
        <div class="product">
            <img src="/images/zoom-mercurial-vapor-15-academy-mg-multi-ground-football-boots-tC05BT.png" class="pro-img" alt="">
            <p class="price">Rs. 4500</p>
            <p class="title">Adidas Predator</p>
            <p class="description">Adidas-Predator-Freak.3-LL-TF-Football-Shoes</p>
        </div>
        <div class="product">
            <img src="/images/mercurial-vapor-15-club-low-top-football-shoes-KrwVSC.jpeg" class="pro-img" alt="">
            <p class="price">Rs. 4500</p>
            <p class="title">Adidas Predator</p>
            <p class="description">Adidas-Predator-Freak.3-LL-TF-Football-Shoes</p>
        </div>
        <div class="product">
            <img src="/images/-original-imagqfwbbabxayap.webp" class="pro-img" alt="">
            <p class="price">Rs. 4500</p>
            <p class="title">Adidas Predator</p>
            <p class="description">Adidas-Predator-Freak.3-LL-TF-Football-Shoes</p>
        </div>
        <div class="product">
            <img src="/images/phantom-gx-academy-high-top-football-shoes-QCKHdl.png" class="pro-img" alt="">
            <p class="price">Rs. 4500</p>
            <p class="title">Adidas Predator</p>
            <p class="description">Adidas-Predator-Freak.3-LL-TF-Football-Shoes</p>
        </div>
        <div class="product">
            <img src="/images/X_Speedportal.3_Indoor_Boots_Green_GW8464_22_model_1400x.jpg" class="pro-img" alt="">
            <p class="price">Rs. 4500</p>
            <p class="title">Adidas Predator</p>
            <p class="description">Adidas-Predator-Freak.3-LL-TF-Football-Shoes</p>
        </div>
        <div class="product">
            <img src="/images/11045572-47-5-nike-red-original-imafpj9zkge5r6xh.webp" class="pro-img" alt="">
            <p class="price">Rs. 4500</p>
            <p class="title">Adidas Predator</p>
            <p class="description">Adidas-Predator-Freak.3-LL-TF-Football-Shoes</p>
        </div>
        <div class="product">
            <img src="/images/mercurial-superfly-9-academy-high-top-football-shoes-6NvfmT.png" class="pro-img" alt="">
            <p class="price">Rs. 4500</p>
            <p class="title">Adidas Predator</p>
            <p class="description">Adidas-Predator-Freak.3-LL-TF-Football-Shoes</p>
        </div>
    </div>

</section>


<div class="heading">
    <h1>Recent products</h1>
</div>
<section class="recent-product">

    <div class="recent-product-list">
        <div class="product">
            <img src="/images/mercurial-vapor-15-club-low-top-football-shoes-KrwVSC.jpeg" class="pro-img" alt="">
            <p class="price">Rs. 4500</p>
            <p class="title">Adidas Predator</p>
            <p class="description">Adidas-Predator-Freak.3-LL-TF-Football-Shoes</p>
        </div>
        <div class="product">
            <img src="/images/-original-imagq57a6bvzqkrz.webp" class="pro-img" alt="">
            <p class="price">Rs. 4500</p>
            <p class="title">Adidas Predator</p>
            <p class="description">Adidas-Predator-Freak.3-LL-TF-Football-Shoes</p>
        </div>
        <div class="product">
            <img src="/images/mercurial-superfly-9-academy-high-top-football-shoes-6NvfmT.png" class="pro-img" alt="">
            <p class="price">Rs. 4500</p>
            <p class="title">Adidas Predator</p>
            <p class="description">Adidas-Predator-Freak.3-LL-TF-Football-Shoes</p>
        </div>
        <div class="product">
            <img src="/images/adidas-x-speedportal-3-fg-m-gz5076-football-shoes-pink-roses-and-purples-2000x2000.jpeg" class="pro-img" alt="">
            <p class="price">Rs. 4500</p>
            <p class="title">Adidas Predator</p>
            <p class="description">Adidas-Predator-Freak.3-LL-TF-Football-Shoes</p>
        </div>
        </div>
    </div>

</section>

<section class="ads">
    <div class="ads-container ad1">
        <p>50% off</p>
    </div>
    <div class="ads-container ad2">
        <p>50% off</p>
    </div>
    <div class="ads-container ad3">
        <p>50% off</p>
    </div>
</section>